{
    "presets": [
        ["@babel/preset-react", {
            "targets": {
                "browsers": ["defaults"]
            },
            "modules": false
        }],
        "@babel/preset-env"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-object-rest-spread"
      ]
}

